body{
    margin-top: 0;
    margin: 0;
}

/* Menu */
  #menu {
    position: absolute;
    top: 20px;
    left: 50px;
    z-index: 1000;
  }
  
  .hamburger-area {
    position: relative;
    display: inline-block;
  }
  
  .hamburger {
    cursor: pointer;
  }
  
  .hamburger svg {
    height: 3em;
    transition: transform 0.3s;
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger-area:hover .teste {
    opacity: 1;
    pointer-events: auto;
  }
  
  .teste {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    min-width: 100px;
  }
  
  .dropdown-item {
    text-decoration: none;
    color: white;
    display: block;
    padding: 6px 0;
    font-weight: bold;
    text-align: center;
    width: 100%;
  }
  
  .dropdown-item:hover {
    color: #ffd700;
    letter-spacing: 1px;
  }
  
  .dropdown-divider {
    border: none;
    height: 1px;
    background: white;
    margin: 5px 0;
  }
  
  li {
    list-style: none;
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset:-32.42;
  }
  
