body{
    margin-top: 0;
    margin: 0;
}

#tamanho{
      width: 100vw;
}

  /* Menu */
  #menu {
    position: absolute;
    top: 2.5vh;       /* 20px */
    left: 2.6vw;     /* 50px */
    z-index: 1000;
  }

  .hamburger-area {
    position: relative;
    display: inline-block;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger svg {
    height: 6vh; /* Responsivo */
    transition: transform 0.3s;
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 0.1875rem; /* 3px */
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger-area:hover .teste {
    opacity: 1;
    pointer-events: auto;
  }

  .teste {
    position: relative;
    top: -2vh;
    left: -1.8vw; 
    background-color: transparent;
    border-radius: 2vh;
    padding: 0.8vh;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    width: 6vw;
  }

  .dropdown-item {
    text-decoration: none;
    color: white;
    display: block;
    padding: 0.5vh;
    font-weight: bold;
    font-size: clamp(1.7vh, 1.7vh, 2vh);
    text-align: center;
  }

  .dropdown-item:hover {
    color: #ffd700;
    letter-spacing: 0.1vw;
    align-items: center;
  }

  .dropdown-divider {
    border: none;
    height: 0.2vh;
    background: white;
  }

  li {
    list-style: none;
  }

  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }


  /* GITHUB */

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 10vh;
  }